/* Basic buttons */
button {
	border: 3px solid @ButtonDkShadow;
	border-image-source: url("../Resources/GDI32/button_border.png");
	border-image-slice: 3 3 3 3;
	color: @ButtonText;
	background-color: @ButtonFace;
	outline-offset: -5px;
}
button:focus {
	border-image-source: url("../Resources/GDI32/button_border_focus.png");
	border-image-slice: 3 3 3 3;
}
button:disabled {
	border-image-source: url("../Resources/GDI32/button_border.png");
	border-image-slice: 3 3 3 3;
}
button:active,
button:checked,
button:disabled:active,
button:disabled:checked{
	border-image-source: url("../Resources/GDI32/button_border_active.png");
	border-image-slice: 3 3 3 3;
}

/* Toggle buttons */
button.toggle {
	border-image-source: url("../Resources/GDI32/button_border.png");
	border-image-slice: 3 3 3 3;
}
button.toggle:focus {
	border-image-source: url("../Resources/GDI32/button_border_focus.png");
	border-image-slice: 3 3 3 3;
}
button.toggle:active {
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
	border-image-slice: 3 3 3 3;
}
button.toggle:disabled {
	border-image-source: url("../Resources/GDI32/button_border.png");
	border-image-slice: 3 3 3 3;
}
button.toggle:checked,
button.toggle:disabled:active,
button.toggle:disabled:checked {
	border-image-source: url("../Resources/GDI32/button_border_toggle.png");
	border-image-slice: 3 3 3 3;
	background-image: url("../Resources/GDI32/checkerboard.png");
	background-repeat: repeat;
}

/* Dialogue buttons. */
/* We're using border images here since dialog button borders are 3px on Windows 95 with individual colour properties.*/
.dialog-action-area button {
}
.dialog-action-area button:focus {
}
.dialog-action-area button:disabled {
}
.dialog-action-area button:active,
.dialog-action-area button:checked,
.dialog-action-area button:disabled:active,
.dialog-action-area button:disabled:checked {
}

/* Toolbar buttons */
.inline-toolbar button,
.primary-toolbar button,
.path-bar button,
toolbutton button,
toolbutton .toggle {
	border: 3px solid @ButtonDkShadow;
	border-image-source: url("");
	border-image-slice: 3 3 3 3;
}
.inline-toolbar button:disabled,
.primary-toolbar button:disabled,
.path-bar button:disabled,
toolbutton button:disabled,
toolbutton .toggle:disabled {
	border-image-source: url("");
	border-image-slice: 3 3 3 3;
}
.inline-toolbar button:hover,
.primary-toolbar button:hover,
.path-bar button:hover,
toolbutton button:hover
toolbutton .toggle:hover {
	border-image-source: url("../Resources/GDI32/button_sidebar.png");
	border-image-slice: 3 3 3 3;
}
.inline-toolbar button:active,
.primary-toolbar button:active,
.path-bar button:active,
toolbutton button:active,
toolbutton .toggle:active {
	border-image-source: url("../Resources/GDI32/frame_basic.png");
	border-image-slice: 3 3 3 3;
}
.inline-toolbar button:checked,
.primary-toolbar button:checked,
.path-bar button:checked,
toolbutton button:checked,
toolbutton .toggle:checked:disabled {
	padding: 1px;
	border-image-source: url("../Resources/GDI32/frame_basic.png");
	border-image-slice: 2 2 2 2;
	background-image: url("../Resources/GDI32/checkerboard.png");
	background-repeat: repeat;
}

/* Sidebar buttons */
button.sidebar-button {
	border: 3px solid #ff0000;
}
button.sidebar-button:hover,
button.sidebar-button:checked,
button.sidebar-button:active {
	border: 3px solid #ff0000;
}

/* Row buttons */
row:selected button:selected {
	border: 3px solid #ff0000;
}

/* Stack switcher buttons */
.stack-switcher > button {
}
.stack-switcher > button:checked {
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
	border-image-slice: 3 3 3 3;
}
.stack-switcher > button > label {
}
.stack-switcher > button > image {
}
.stack-switcher > button.text-button {
}
.stack-switcher > button.image-button {
}
.stack-switcher > button.needs-attention:active > label,
.stack-switcher > button.needs-attention:active > image, .stack-switcher > button.needs-attention:checked > label,
.stack-switcher > button.needs-attention:checked > image {
}

/* Colour swatch buttons */
button.color {
	/*padding: 2px;*/
	border-image-source: url("../Resources/GDI32/button_border.png");
	border-image-slice: 3 3 3 3;
}
button.color colorswatch {
	border: 1px solid @WindowFrame;
}
button.color colorswatch:only-child {

}
button.color colorswatch:only-child, button.color colorswatch:only-child overlay {

}
button.color colorswatch:only-child:disabled colorswatch:only-child, button.color colorswatch:only-child:backdrop colorswatch:only-child, button.color colorswatch:only-child:active colorswatch:only-child, button.color colorswatch:only-child:checked colorswatch:only-child {

}

/* spinbuttons */
spinbutton:not(.vertical) {
	background-color: @Window;
	border: 3px solid @ButtonDkShadow;
	border-image-source: url("../Resources/GDI32/frame_scrolledwindow.png");
	border-image-slice: 3 3 3 3;
}
	
spinbutton:not(.vertical) entry {
}
spinbutton:not(.vertical) button.up {
}
spinbutton:not(.vertical) button.up:active {
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
	border-image-slice: 3 3 3 3;
}
spinbutton:not(.vertical) button.down {
}
spinbutton:not(.vertical) button.down:active {
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
	border-image-slice: 3 3 3 3;
}
spinbutton.vertical button.up {
}
spinbutton.vertical button.up:active {
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
	border-image-slice: 3 3 3 3;
}
spinbutton.vertical button.down {
}
spinbutton.vertical button.down:active {
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
	border-image-slice: 3 3 3 3;
}
spinbutton.vertical {
	background-color: @Window;
	border: 3px solid @ButtonDkShadow;
	border-image-source: url("../Resources/GDI32/frame_scrolledwindow.png");
	border-image-slice: 3 3 3 3;
}
spinbutton.vertical entry {
}
spinbutton.vertical button {
}

/* destructive action buttons */
.destructive-action.button {
}

/* suggested action buttons */
.suggested-action.button {
}

/* toolitem box button */
toolitem button {
}

/* image buttons */
.image-button {
	border-image-source: url("");
	border-image-slice: 3 3 3 3;
}
.image-button:hover {
	border-image-source: url("../Resources/GDI32/button_sidebar.png");
	border-image-slice: 3 3 3 3;
}
.image-button:active {
	border-image-source: url("../Resources/GDI32/frame_basic.png");
	border-image-slice: 3 3 3 3;
}
.image-button:checked {
	padding: 1px;
	border: 2px solid @ButtonDkShadow;
	border-image-source: url("../Resources/GDI32/frame_basic.png");
	border-image-slice: 2 2 2 2;
	background-image: url("../Resources/GDI32/checkerboard.png");
	background-repeat: repeat;
}

.image-button.radio {
}
.image-button.radio:active {
}
.image-button.radio:checked {
}

/* statusbar buttons */
statusbar button {
}
statusbar button:active,
statusbar button:checked {
}

/* treeview buttons */
treeview header button:focus,
treeview header button {
}
treeview header button:active,
treeview header button:checked {
	border-image-source: url("../Resources/GDI32/button_header_border_active.png");
	border-image-slice: 3 3 3 3;
}

treeview header button:disabled,
treeview header button:disabled:active,
treeview header button:disabled:checked {
	border-image-source: url("../Resources/GDI32/button_header_border_insense.png");
	border-image-slice: 3 3 3 3;
}
