/* Basic buttons */
button {
	border: 3px solid;
	border-image-source: url("../Resources/GDI32/button_border.png");
	border-image-slice: 3 3 3 3;
	color: @ButtonText;
	background-color: @ButtonFace;
	outline-offset: -5px;

}
button:focus {
	border-image-source: url("../Resources/GDI32/button_border_focus.png");
}
button:disabled {
	border-image-source: url("../Resources/GDI32/button_border.png");
}
button:active,
button:checked,
button:disabled:active,
button:disabled:checked {
	border-image-source: url("../Resources/GDI32/button_border_active.png");
}

button:active label,
button:checked label,
button:disabled:active label,
button:disabled:checked label {
	color: transparent;
	text-shadow: 1px 1px @ButtonText;
}

button:active image,
button:checked image,
button:disabled:active image,
button:disabled:checked image {
	-gtk-icon-transform: translateX(1px) translateY(1px);
}

/* gtk fall back buttons? */
.gtkstyle-fallback {
}
.gtkstyle-fallback:hover {
}
.gtkstyle-fallback:active {
}
.gtkstyle-fallback:disabled {
}
.gtkstyle-fallback:selected {
}

/* Toggle buttons */
button.toggle {
	border-image-source: url("../Resources/GDI32/button_border.png");
}
button.toggle:focus {
	border-image-source: url("../Resources/GDI32/button_border_focus.png");
}
button.toggle:active {
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
}
button.toggle:disabled {
	border-image-source: url("../Resources/GDI32/button_border.png");
}
button.toggle:checked,
button.toggle:disabled:active,
button.toggle:disabled:checked {
	border-image-source: url("../Resources/GDI32/button_border_toggle.png");
	background-image: url("../Resources/GDI32/checkerboard.png");
	background-repeat: repeat;
}

/* Flat buttons */
button.flat {
	border-image-source: url("");
}
button.flat:disabled {
	border-image-source: url("");
}
button.flat:hover {
	border-image-source: url("../Resources/GDI32/button_border_sidebar.png");
}
button.flat:active {
	border-image-source: url("../Resources/GDI32/frame_basic.png");
}
button.flat:checked {
	padding: 1px;
	border: 2px solid;
	border-image-source: url("../Resources/GDI32/frame_basic.png");
	border-image-slice: 2 2 2 2;
	background-image: url("../Resources/GDI32/checkerboard.png");
	background-repeat: repeat;
}
button.flat.popup:checked {
	padding: 0px;
	border-image-slice: 3 3 3 3;
	background-image: url("");
}

/* Dialogue buttons. */
/* We're using border images here since dialog button borders are 3px on Windows 95 with individual colour properties.*/

buttonbox.dialog-action-area button {
	padding: 3px 0px;
}

.dialog-action-area button {
	/*margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px;*/
}

.dialog-action-area button label {
	/*padding-top: 1px;*/
}
.dialog-action-area button:focus {
}
.dialog-action-area button:disabled {
}
.dialog-action-area button:active,
.dialog-action-area button:checked,
.dialog-action-area button:disabled:active,
.dialog-action-area button:disabled:checked {
}

/* Toolbar buttons Flat
.inline-toolbar button.flat,
.primary-toolbar button.flat,
.path-bar button.flat,
toolbutton button.flat,
toolbutton .flat.toggle {
	border-image-source: url("");
}
.inline-toolbar button.flat:disabled,
.primary-toolbar button.flat:disabled,
.path-bar button.flat:disabled,
toolbutton button.flat:disabled,
toolbutton .flat.toggle:disabled {
	border-image-source: url("");
}
.inline-toolbar button.flat:hover,
.primary-toolbar button.flat:hover,
.path-bar button.flat:hover,
toolbutton button.flat:hover
toolbutton .flat.toggle:hover {
	border-image-source: url("../Resources/GDI32/button_border_sidebar.png");
}
.inline-toolbar button.flat:active,
.primary-toolbar button.flat:active,
.path-bar button.flat:active,
toolbutton button.flat:active,
toolbutton .flat.toggle:active {
	border-image-source: url("../Resources/GDI32/frame_basic.png");
}
.inline-toolbar button.flat:checked,
.primary-toolbar button.flat:checked,
.path-bar button.flat:checked,
toolbutton button.flat:checked,
toolbutton .flat.toggle:checked:disabled {
	padding: 1px;
	border-image-source: url("../Resources/GDI32/frame_basic.png");
	border-image-slice: 2 2 2 2;
	background-image: url("../Resources/GDI32/checkerboard.png");
	background-repeat: repeat;
}

Toolbar buttons 3D
.inline-toolbar button,
.primary-toolbar button,
.path-bar button,
toolbutton button,
toolbutton .toggle {
	border-image-source: url("../Resources/GDI32/button_border.png");
}
.inline-toolbar button:active,
.primary-toolbar button:active,
.path-bar button:active,
toolbutton button:active,
toolbutton .toggle:active {
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
}
.inline-toolbar button:checked,
.primary-toolbar button:checked,
.path-bar button:checked,
toolbutton button:checked,
toolbutton .toggle:checked:disabled {
	padding: 1px;
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
	border-image-slice: 2 2 2 2;
	background-image: url("../Resources/GDI32/checkerboard.png");
	background-repeat: repeat;
}
*/

/* Sidebar buttons */
button.sidebar-button {
	border: 3px solid #ff0000;
}
button.sidebar-button:hover,
button.sidebar-button:checked,
button.sidebar-button:active {
	border: 3px solid ;
}

/* Row buttons */
row:selected button:selected {
	border: 3px solid #ff0000;
}

/* Stack switcher buttons */
.stack-switcher > button {
}
.stack-switcher > button:checked {
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
}
.stack-switcher > button > label {
}
.stack-switcher > button > image {
}
.stack-switcher > button.text-button {
}
.stack-switcher > button.image-button {
}
.stack-switcher > button.needs-attention:active > label,
.stack-switcher > button.needs-attention:active > image, .stack-switcher > button.needs-attention:checked > label,
.stack-switcher > button.needs-attention:checked > image {
}

/* Colour swatch buttons */
button.color {
	/*padding: 2px;*/
	border-image-source: url("../Resources/GDI32/button_border.png");
}
button.color colorswatch {
	border: 1px solid @ButtonText;
}
button.color colorswatch:only-child {

}
button.color colorswatch:only-child, button.color colorswatch:only-child overlay {

}
button.color colorswatch:only-child:disabled colorswatch:only-child, button.color colorswatch:only-child:backdrop colorswatch:only-child, button.color colorswatch:only-child:active colorswatch:only-child, button.color colorswatch:only-child:checked colorswatch:only-child {

}

/* spinbuttons */
spinbutton:not(.vertical) {
	background-color: @Window;
	border: 2px solid;
	border-image-source: url("../Resources/GDI32/frame_inset.png");
	border-image-slice: 2 2 2 2;
}
	
spinbutton:not(.vertical) entry {
	border-image-source: url("");
}
spinbutton:not(.vertical) button.up {
}
spinbutton:not(.vertical) button.up:active {
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
}
spinbutton:not(.vertical) button.down {
}
spinbutton:not(.vertical) button.down:active {
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
}
spinbutton.vertical button.up {
}
spinbutton.vertical button.up:active {
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
}
spinbutton.vertical button.down {
}
spinbutton.vertical button.down:active {
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
}
spinbutton.vertical {
	background-color: @Window;
	border: 2px solid;
	border-image-source: url("../Resources/GDI32/frame_inset.png");
	border-image-slice: 2 2 2 2;
}
spinbutton.vertical entry {
	border-image-source: url("");
}
spinbutton.vertical button {
}

/* destructive action buttons */
.destructive-action.button {
}

/* suggested action buttons */
.suggested-action.button {
}

/* toolitem box button */
toolitem button {
}

/* image buttons */
.image-button {
}
.image-button:active {
}
.image-button:checked {
	padding: 1px;
	border: 2px solid;
	border-image-source: url("../Resources/GDI32/button_border_indent.png");
	border-image-slice: 2 2 2 2;
	background-image: url("../Resources/GDI32/checkerboard.png");
	background-repeat: repeat;
}

.image-button.radio {
}
.image-button.radio:active {
}
.image-button.radio:checked {
}

/* statusbar buttons */
statusbar button {
}
statusbar button:active,
statusbar button:checked {
}

/* treeview buttons */
treeview header button:focus,
treeview header button {
}
treeview header button:active,
treeview header button:checked {
	border-image-source: url("../Resources/GDI32/button_header_border_active.png");
}

treeview header button:disabled,
treeview header button:disabled:active,
treeview header button:disabled:checked {
	border-image-source: url("../Resources/GDI32/button_header_border_disabled.png");
}

/* window buttons */
button.titlebutton {
}
button.titlebutton:active:not(.appmenu),
button.titlebutton:checked:not(.appmenu) {
}

.titlebutton.close,
.titlebutton.maximize,
.titlebutton.minimize {
	background-color: red;
}

.titlebutton.minimize {
	background-color: red;
}
.titlebutton.minimize:backdrop {
	background-color: red;
}
.titlebutton.minimize:checked,
.titlebutton.minimize:active {
	background-color: red;
}

.titlebutton.maximize {
	background-color: red;
}
.titlebutton.maximize:backdrop {
	background-color: red;
}
.titlebutton.maximize:checked,
.titlebutton.maximize:active {
	background-color: red;
}

.maximized .titlebutton.maximize  {
	background-color: red;
}
.maximized .titlebutton.maximize:backdrop {
	background-color: red;
}
.maximized .titlebutton.maximize:checked,
.maximized .titlebutton.maximize:active  {
	background-color: red;
}

.titlebutton.close {
	background-color: red;
}
.titlebutton.close:backdrop {
	background-color: red;
}
.titlebutton.close:checked,
.titlebutton.close:active {
	background-color: red;
}

/* Groups these buttons together */
.titlebutton.minimize {
	background-color: red;
}
.titlebutton.maximize {
	background-color: red;
}
.titlebutton.close {
	background-color: red;
}

/* setting :not(.appmenu) in button.titlemenu breaks the main window buttons position,
* so restore any damage made to buttons styled with both .appmenu and .titlemenu here */
button.appmenu {
}

button.appmenu:active,
button.appmenu:checked,
button.appmenu:disabled:active,
button.appmenu:disabled:checked {
}

/* Flat buttons */
headerbar button,
headerbar button.toggle,
headerbar button.radio {
	border-image-source: url("");
}
headerbar button:disabled,
headerbar button.toggle:disabled,
headerbar button.radio:disabled {
	border-image-source: url("");
}
headerbar button:hover,
headerbar button.toggle:hover,
headerbar button.radio:hover {
	border-image-source: url("../Resources/GDI32/button_border_sidebar.png");
}
headerbar button:active,
headerbar button.toggle:active,
headerbar button.radio:active {
	border-image-source: url("../Resources/GDI32/frame_basic.png");
}
headerbar button:checked,
headerbar button.toggle:checked,
headerbar button.radio:checked {
	padding: 1px;
	border: 2px solid;
	border-image-source: url("../Resources/GDI32/frame_basic.png");
	border-image-slice: 2 2 2 2;
	background-image: url("../Resources/GDI32/checkerboard.png");
	background-repeat: repeat;
}