/* Frames */
frame,
frame.view {
}
viewport > box > frame > border.flat,
stack > box > frame > border.flat,
frame border {
	border: 3px solid;
	border-image: url("../Resources/GDI32/frame_groove.png");
	border-image-slice: 3 3 3 3;
}
box > frame > border.flat {
	border: none;
}
frame.border-inset border {
	border-image-source: url("../Resources/GDI32/frame_inset.png");
}
frame.border-inset label {
}
frame.border-outset border {
	border-image-source: url("../Resources/GDI32/frame_outset.png");
}
frame.border-outset label {
}
frame.border-groove border {
	padding: 1px;
	border: 2px solid;
	border-image-source: url("../Resources/GDI32/frame_groove.png");
	border-image-slice: 2 2 2 2;
}
frame.border-groove label {
}
frame.border-ridge border {
	padding: 1px;
	border: 2px solid;
	border-image-source: url("../Resources/GDI32/frame_ridge.png");
	border-image-slice: 2 2 2 2;
}
frame.border-ridge label {
}
frame > list, frame > .view  {
	margin: -10px;
}
frame > label {
}
frame > box.vertical {
}
statusbar {
	margin-top: 2px;
	margin-left: -10px;
	margin-right: -10px;
}
statusbar > frame > border.flat {
	border-image-source: url("../Resources/GDI32/frame_basic.png");
}
statusbar frame label {
	color: @ButtonText;
}
statusbar frame box {
}

statusbar separator {
}

scrolledwindow.frame {
	/*margin-top: -1px;
	margin-bottom: -2px;*/
	background-color: @ButtonFace;
	border: 2px solid;
	border-image-source: url("../Resources/GDI32/frame_inset.png");
	border-image-slice: 2 2 2 2;
	background-image: url("../Resources/GDI32/gripper.png");
	background-repeat: no-repeat;
	background-position: right bottom;
}
iconview.view,
textview.view {
	background-color: @Window;
}
iconview.view selection,
textview.view selection {
	background-color: @Hilight;
	color: @HilightText;
}

.osd.frame {
	background-color: #ff0000;
}

stack > box > frame {
}

entry window frame {
	background-color: #ff0000;
}
entry window frame scrolledwindow {
}

