/* list cell and row */
cell:not(check):not(radio),
row:not(check):not(radio) {
}

list > row label,
list > row image {
}

cell:selected,
cell:selected:focus,
row:selected,
row:selected:hover,
row:selected:focus {
}

/*list > separator {
border: 0px;
min-height: 0px;
min-width: 0px;
}*/

/* Exception for gnome-tweak-tool */
list.tweak-group {
}
