/* scrolled window */
scrolledwindow {

}
scrolledwindow viewport list row {
}

stacksidebar > scrolledwindow { 
}

.sidebar GtkScrolledWindow {
	background-color: red;
}

frame > scrolledwindow {
	
}

box notebook stack scrolledwindow {
	border: 2px solid;
	border-image-source: url("../Resources/GDI32/frame_inset.png");
	border-image-slice: 2 2 2 2;
}
