/* default */
* {
	-GtkHTML-link-color: @HotTrackingColor;
	-GtkIMHtml-hyperlink-color: @HotTrackingColor;

	-GtkTreeView-expander-size: 20;
	-GtkTreeView-horizontal-separator: 6;
	-GtkTreeView-vertical-separator: -1;

	-GtkMenu-horizontal-offset: -9px;
	-GtkMenu-vertical-offset: 0px;

	-GtkScrollbar-has-backward-stepper: true;
	-GtkScrollbar-has-forward-stepper: true;

	-GtkScrolledWindow-scrollbar-spacing: 0;

	-GtkWidget-text-handle-height: 20;
	-GtkWidget-text-handle-width: 10;
}

.background {
  background-color: @ButtonFace;
  color: @WindowText;
}

iconview {
}
iconview:hover {
}
iconview:selected {
	background-color: @Hilight;
	color: @HilightText;
}

:disabled, :disabled:disabled {
	-gtk-icon-shadow: 1px 1px @ButtonHilight;
	-gtk-icon-effect: dim;
	color: @GrayText;
	text-shadow: 1px 1px @ButtonHilight;
}

/* There appears to be a bug(?) in gtk treeviews on :focus with outlines that will cause a momentary displacement of the UI. Keep the treeview exclusion! */
:focus:not(treeview):not(view):not(checkbutton):not(radiobutton) {
	-gtk-outline-radius: 0px;
	outline: 1px dotted @ButtonDkShadow;
}


stepper,
.stepper {
}

slider,
.slider {
}

border.flat {
}

/****************
* drawing area *
****************/

/* FINDME */
GtkDrawingArea {
	background-color: #ff0000;
}

GtkDrawingArea:disabled {
	background-color: #ff0000;
}


/***********
* gtkhtml *
***********/

/* FINDME */
GtkHTML {
	background-color: #ff0000;
}

/************
* calendar *
************/

calendar {
	border: 3px solid;
	border-image-source: url("../Resources/GDI32/frame_inset.png");
	border-image-slice: 3 3 3 3;
}

/*Calendar content*/
calendar.view {
	background-color: @Window;
}

/* Month and year */
calendar.header {
	color: @ButtonFace;
	background-color: @InactiveTitle;
}

/* Calendar week, day label */
calendar.highlight {
}

/* day selected */
calendar:selected {
	outline-offset: 10px;
	background-color: @Hilight;
	color: @HilightText;
	outline-offset: -1px;
}


/************
* expander *
************/

expander arrow {
	background-image: url("../Resources/Marlett/arrow_right.png");
}
expander arrow:hover {
	background-image: url("../Resources/Marlett/arrow_right_selected.png");
}
expander arrow:checked {
	background-image: url("../Resources/Marlett/arrow_down.png");
}
expander arrow:checked:hover {
	background-image: url("../Resources/Marlett/arrow_down_selected.png");
}
treeview.view.expander {
	-gtk-icon-palette: default;
	-gtk-icon-source: -gtk-icontheme('pane-show-symbolic');
}
treeview.view.expander:selected {
	color: @HilightText;
	-gtk-icon-source: -gtk-icontheme('pane-show-symbolic');
}
treeview.view.expander:checked {
	-gtk-icon-source: -gtk-icontheme('pane-hide-symbolic');
}
treeview.view.expander:checked:selected {
	color: @HilightText;
	-gtk-icon-source: -gtk-icontheme('pane-hide-symbolic');
}

/************
* iconview *
************/
iconview.view.cell {
}

/***********
* infobar *
***********/
infobar {
}
/* The Info bar uses the colors and button layout from clippy! */
.info,
.warning,
.question,
.error {
	border: 3px solid;
	border-image-source: url("../Resources/GDI32/tip_border.png");
	border-image-slice: 3 3 3 3;
	background-color: @InfoWindow;
	color: @InfoText;
}

infobar button,
infobar button.circular {
	border-image-source: url("../Resources/GDI32/button_balloon_border.png");
}
infobar button:focus,
infobar button.circular:focus {
	border-image-source: url("../Resources/GDI32/button_balloon_border.png");
}
infobar button:disabled,
infobar button.circular:disabled {
	border-image-source: url("../Resources/GDI32/button_balloon_border.png");
}
infobar button:hover,
infobar button.circular:hover {
	border-image-source: url("../Resources/GDI32/button_balloon_border.png");
}
infobar button:active,
infobar button.circular:active {
	border-image-source: url("../Resources/GDI32/button_balloon_border.png");
}
infobar button:checked,
infobar button.circular:checked {
	border-image-source: url("../Resources/GDI32/button_balloon_border.png");
}


/*******************
* symbolic images *
*******************/
/* FINDME */
.image {
	background-color: #ff0000;
}
.image:hover {
	background-color: #ff0000;
}
.image:selected,
.image:selected:hover {
	background-color: #ff0000;
}
.view.image,
.view.image:hover {
	background-color: #ff0000;
}
.view.image:selected,
.view.image:selected:hover {
	background-color: #ff0000;
}

/*******************
* slider / switch *
*******************/
switch {
}
media_playpause {
}

/****************
* stacksidebar *
****************/
stacksidebar separator.horizontal {
	border: none;
	padding: 1px;
}
stacksidebar list {
	color: @HilightText;
	background-color: @ButtonShadow;
	border: 3px solid;
	border-image-source: url("../Resources/GDI32/frame_inset.png");	
	border-image-slice: 3 3 3 3;
}
stacksidebar.sidebar list {
}
stacksidebar list row {
	background-color: @ButtonShadow;
	padding: 2px;
}
stacksidebar list row label {
}
stacksidebar list row:hover {
	padding: 0px;
	margin: -1px;
	border: 3px solid;
	border-image-source: url("../Resources/GDI32/frame_outset_basic.png");	
	border-image-slice: 3 3 3 3;
}
stacksidebar list row:selected,
stacksidebar list row:selected:focus,
stacksidebar list row:selected:hover {
	padding: 0px;
	margin: -1px;
	border: 3px solid;
	border-image-source: url("../Resources/GDI32/frame_inset_basic.png");	
	border-image-slice: 3 3 3 3;
	outline-color: transparent;
}

/***********
* stack *
***********/
/* Some applications will use stacks in non-conventional ways. This should prevent theming of .view in gtk-viewports.css from affecting stack views. */
stack.view {
}
stack overlay box box scrolledwindow viewport list row {
}

/***********
* sidebar *
***********/
.sidebar {
}
.sidebar viewport.frame {
}
.sidebar list {
}
.sidebar viewport list row {
}
.sidebar viewport list row:selected {
}
.sidebar.view,
.sidebar .view {
}
.sidebar {
}
.sidebar-item {
}
.sidebar-item > Gtklabel {
}
.sidebar-item.needs-attention > Gtklabel {
}
.sidebar-button.button.image-button {
}
.sidebar-button.button:not(:hover):not(:active) > GtkImage {
}
.sidebar-item {
}
.sidebar-item.needs-attention > GtkLabel {
}

/**********
* switch *
**********/
switch {
	background-color: @Window;
	border: 2px solid;
	border-image-source: url("../Resources/GDI32/frame_inset.png");
	border-image-slice: 2 2 2 2;
}
switch:disabled {
	background-color: @ButtonFace;
}
switch slider {
	background-color: @ButtonFace;
	border: 3px solid @ButtonDkShadow;
	border-image: url("../Resources/GDI32/frame_outset.png");
	border-image-slice: 3 3 3 3;
	min-height: calc(17px - 3px - 3px);
	min-width: calc(16px - 3px - 3px);
}
switch image,
switch:disabled image,
switch:disabled:checked image {
	-gtk-icon-transform: scale(0);
}
switch:checked {
	background-color: @Hilight;
}

/***************
* Colorswatch *
***************/
colorchooser colorswatch {
	border: 2px solid;
	border-image-source: url("../Resources/GDI32/frame_inset.png");
	border-image-slice: 2 2 2 2;
}
colorchooser colorswatch:selected,
colorchooser colorswatch:hover {
	margin: -1px;
	border: 3px solid;
	border-image-source: url("../Resources/GDI32/colorswatch_hover.png");
	border-image-slice: 3 3 3 3;
}
colorchooser colorswatch.activatable overlay {
	-gtk-icon-transform: scale(0);
}
colorchooser #add-color-button.activatable overlay {
	-gtk-icon-transform: scale(1);
}

row colorswatch {
}
button colorswatch {
}
colorswatch {
}
colorswatch :selected {
}
button:active colorswatch {
}

/************************
* overshoot undershoot *
************************/
/* get rid of these frekin overshoots, this isen't a phone! */
overshoot, undershoot {
}

/************
* Box Link *
************/
box label link {
}
box label link:hover {
}

/*******
* osd *
*******/
.background.osd {
}
overlay.osd {
}
overlay toolbar.osd {
}
overlay frame {
}

/**************
* header-bar *
**************/
headerbar .title {
}
headerbar .subtitle {
}

/**************
* rubberband *
**************/
.rubberband,
rubberband,
flowbox rubberband,
treeview.view rubberband,
.content-view rubberband,
.content-view .rubberband {
}

/* Misc stuff */
flowboxchild {
}
flowbox checkbutton:checked {
}
textview text,
grid viewport box box textview {
}

/* dialog-vbox */
.dialog-vbox {
}
.dialog-vbox flowbox flowboxchild:focus {
}

/* Spinner */
@keyframes spin {
}
spinner {
}
spinner:backdrop {
}
spinner:checked {
}
spinner:checked:disabled {
}
