/* tooltip popover app-notification floating-bar */
.floating-bar,
.app-notification,
tooltip.background,
.tooltip.background,
tooltip,
.tooltip {
	background-color: @InfoWindow;
	color: @InfoText;
	border: 1px solid @ButtonDkShadow;
}


.floating-bar label,
.app-notification label,
tooltip.background label,
.tooltip.background label,
tooltip label,
.tooltip label {
	margin-left: -3px;
	margin-right: -2px;
	margin-top: -4px;
	margin-bottom: -4px;
}

popover {
}
popover.background {
	background-color: @InfoWindow;
	border: 1px solid @ButtonDkShadow;
	border-radius: 8px;
}
popover button.flat {
	border-image-source: url("../Resources/GDI32/button_balloon_border.png");
}
popover button.flat:disabled {
}
popover button.flat:hover {
	border-image-source: url("../Resources/GDI32/button_balloon_border.png");
}
popover button.flat:active {
}
popover button.flat:checked {
}
popover button.flat.popup:checked {
}

modelbutton label {
}
modelbutton.flat:hover {
}
modelbutton arrow {
}

.app-notification,
popover stack {
}

.floating-bar,
popover.background,
tooltip.background,
tooltip {
}

tooltip * {
}
tooltip decoration {
}

popover list row {
	background-color: red;
}
popover list row:hover {
	background-color: red;
}
popover list row checkbutton {
	background-color: red;
}
popover list row checkbutton label,
popover list row box label {
	background-color: red;
}
popover list button {
	background-color: red;
}
popover list checkbutton check {
	background-color: red;
}

popover arrow.right {
	background-color: red;
}
popover arrow.right:hover {
	background-color: red;
}
popover arrow.left {
	background-color: red;
}
popover arrow.left:hover {
	background-color: red;
}
popover arrow.up {
	background-color: red;
}
popover arrow.up:hover {
	background-color: red;
}
popover arrow.down {
	background-color: red;
}
popover arrow.down:hover {
	background-color: red;
}
