/* viewport & view */
viewport {
}
viewport list,
viewport iconview,
viewport textview,
viewport list.tweak-group,
viewport list.tweak-categories {
}
viewport row {
}
viewport list {
	border: none;
	padding: 1px;
}
viewport list row {
}
viewport list row:selected {
}
viewport list row box {
}
frame scrolledwindow viewport.frame {
	background-color: @Window;
}
viewport.frame {
	background-color: @Window;
}
viewport.exoiconview {
}
viewport flowbox {
	background-color: @ButtonFace;
}
grid viewport {
	border: 2px solid;
	border-image-source: url("../Resources/GDI32/frame_inset.png");
	border-image-slice: 2 2 2 2;
	background-color: @ButtonShadow;
}
grid viewport box scrolledwindow viewport {
	background-color: red;
}
overlay > grid.horizontal {
	border: 2px solid;
	border-image-source: url("../Resources/GDI32/frame_inset.png");
	border-image-slice: 2 2 2 2;
}

view,
.view {
	background-color: @Window;
}
view:disabled,
view:disabled:disabled {
}
view:selected,
view:selected:focus {
}
.view header button {
}
.view header button label {
}

box.view {
}

/*scrolledwindow:not(.frame) > viewport { *//*Adding this for background colour. */
/*  background-color: @ButtonFace; }
dialog scrolledwindow viewport {
padding: 5px; }*/

dialog viewport {
}
